html {
    background-color: #222;
    color: #eee;
    font-family: 'Noto Sans', 'Segoe UI', Arial, sans-serif;
    --toolbar-height: max(60px, 6vmin);
    --sidebar-width: min(250px, 20vw);
    --sidebar-padding: 1.5vmin;
    --main-padding: 1.5vmin;
}

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc(var(--toolbar-height) - 2vmin);
    padding: 1vmin 2vmin;
    z-index: 9999;

    display: flex;
    flex-direction: row;
    background-color: #2f2f2f;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
}

#toolbar-left {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#toolbar-middle {
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#toolbar-right {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#toolbar-left > h1 {
    margin: 0;
    font-size: 1.5rem;
}

#toolbar-left > h2 {
    margin: 0;
    font-size: 1rem;
}

a {
    color: cyan;
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: calc(var(--toolbar-height) * -1);
}

#page-outer {
    margin-top: var(--toolbar-height);
    width: calc(100% - 8vmin);
    margin-left: 4vmin;
    margin-right: 4vmin;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

#page-inner {
    display: flex;
    flex-direction: row;
}

nav#sidebar {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: var(--sidebar-padding);
    min-width: calc(var(--sidebar-width) - (var(--sidebar-padding) * 2));
    max-width: calc(var(--sidebar-width) - (var(--sidebar-padding) * 2));
    background-color: #333;
}

nav#sidebar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav#sidebar > ul > li {
    margin: 1px;
    width: 100%;
}

nav#sidebar .menu-item {
    display: block;
    padding: 2px;
    transition: background-color 0.25s;
    background-color: rgba(30, 30, 30, 0.0);
}

nav#sidebar .menu-item:hover {
    background-color: rgba(30, 30, 30, 1.0);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--main-padding);
    width: calc(100% - var(--sidebar-width) - (var(--main-padding) * 2));
    background-color: #444;
}

main > article {
    border-top: 1px solid #666;
    flex: 1;

    display: flex;
    flex-direction: column;
}

main > article:first-child {
    border-top: none;
}

#code-style-switcher {
    width: calc(var(--toolbar-height) - 1.5vmin);
    height: calc(var(--toolbar-height) - 1.5vmin);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 0.6rem;
    border-radius: 1vmin;
}

#code-style-switcher.light {
    background-color: #fff;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}t

#code-style-switcher.dark {
    background-color: #000;
    color: #000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

code, .code {
    font-family: 'Cascadia Code', 'Fira Code', 'Consolas', 'Droid Sans Mono', monospace;
    white-space: pre;
}

.code {
    flex: 1;
    padding: 1.5vmin;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    max-width: calc(100% - 3vmin);
    margin-bottom: 1vmin;
}

.code {
    color: #fff;
    background: #000;
}

.code.ayu {
    font-weight: 600;
}

.code > pre {
    margin: 0;
}

@media screen and (min-width: 1500px) {
    #page-outer {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1100px) {
    #page-outer {
        width: calc(100% - 1vmin);
        margin-left: 0.5vmin;
        margin-right: 0.5vmin;
    }

    nav#sidebar {
        min-width: 10vw;
        padding: 0.6vmin;
        font-size: 0.75rem;
    }

    nav#sidebar .diagram-link {
        font-size: 0.75rem;
    }

    code, .code {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 700px) {
    #toolbar-middle {
        display: none;
    }
    nav#sidebar {
        max-width: 100%;
    }
    #page-inner {
        flex-direction: column;
    }
    .diagram-links {
        display: none;
    }
    main {
        width: calc(100% - 3vmin);
    }
    code, .code {
        font-size: 0.75rem;
    }
}


/* diagram styles */
ul.diagram-links {
    margin-left: 0;
    padding-left: 2.5vmin;
}

ul.diagram-links > .diagram-link {
    display: flex;
    flex-direction: row;
}

ul.diagram-links > .diagram-link > input[type='checkbox'] {
    min-width: 20px;
    max-width: 20px;
}

ul.diagram-links > .diagram-link > .menu-item {
    display: block;
    flex: 1;
}

.diagram-link {
    font-size: 0.85rem;
}

.diagram-link.is-hidden > a,
.diagram-link.is-hidden > span {
    color: green;
}

.diagram-link.is-visible > a,
.diagram-link.is-visible > span {
    color: cyan;
}

.diagram-header {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.1);
}

.diagram-header > h1 {
    flex: 1;
    margin: 0.2vmin;
    font-family: monospace;
    font-size: 1.5rem;
}

.diagram > svg {
    width: 100%;
    background-color: transparent !important;
}

.hide {
    display: none;
}

.diagram > svg g.start,
.diagram > svg text.comment {
    fill: #eee;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.MatchGroupRef rect {
    fill:hsl(200, 100%, 90%) !important;
}

.MatchGroupRef {
    cursor: pointer;
}

