:root {
    --background-color-primary: #18191a;
    --text-color-primary: #e8ecf1;

    --background-color-secondary: #202224;
    --text-color-secondary: #d8dfe7;

    --header-left-text-color: #fff;
    --header-right-text-color: #18191a;

    --border-radius: 0.35rem;
    --border-accent-color: #91979c;
    --border-accent-style: solid;

    --page-border-color: rgba(56, 65, 68, 0.4);

    --sidebar-border-width: 1px;
    --sidebar-accent-color: rgba(0, 0, 0, 0.12);

    --default-diagram-background-color: #484f5e;
    --default-diagram-text-color: #fff;

    --link-color: #2dda92;
    --link-color-visited: #2f9aad;
    --menu-link-color: #bdebd2;

    --menu-highlight-background-color: rgba(42, 104, 124, 0.25);
    --menu-highlight-text-color: #fff;

    --code-font: 'SF Mono', 'Cascadia Code', 'Fira Code', 'Hack', 'Consolas', monospace;

    --code-syntax-label-offset: 0.5vmin;
    --code-syntax-label-font-size: 0.8rem;

    --color-1: #49bb7e;
    --color-2: #36aa93;
    --color-3: #119492;
    --color-4: #168b99;
    --color-5: #2a687c;

    --highlight-background-color: #78F5B3;
    --highlight-text-color: #000;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color-primary: #FAF8F5;
        --text-color-primary: #403845;

        --background-color-secondary: #FAF8F5;
        --text-color-secondary: #161938;

        --header-left-text-color: #fff;
        --header-right-text-color: #161938;

        --border-accent-color: #E8DAC1;
        --border-accent-style: dotted;

        --page-border-color: #E8DAC1;

        --sidebar-border-width: 2px;
        --sidebar-accent-color: rgba(255, 255, 255, 0.5);

        --default-diagram-background-color: #f8f9fa;
        --default-diagram-text-color: #000;    

        --link-color: #009c53;
        --link-color-visited: #00859c;
        --menu-link-color: #02161d;

        --menu-highlight-background-color: rgba(160, 243, 199, 0.25);
        --menu-highlight-text-color: #000;
    }
}

html {
    font-family: 'Noto Sans', 'Segoe UI', Helvetica, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

::-webkit-scrollbar {
    width: max(1.2vmin, 8px);
    height: max(1.2vmin, 8px);
    background: var(--background-color-primary);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--border-accent-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.5) inset;
}

body {
    background-color: var(--background-color-secondary);
    color: var(--text-color-primary);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.3rem;
    font-style: italic;
}

h5 {
    font-size: 1.15rem;
    font-weight: 500;
    font-style: italic;
}

h6 {
    font-size: 0.9rem;
    font-weight: 600;
    font-style: italic;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    position: relative;
    border-bottom: 1px solid var(--border-accent-color);
}

main .headerlink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

#body-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 750;
    display: none;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color-visited);
}

a.headerlink {
    color: var(--link-color);
    opacity: 0.2;
    transition: ease-in-out opacity 0.25s;
    margin-left: 1vmin;
    text-decoration: none;
}

a.headerlink:hover {
    opacity: 1.0;
}

code, .code {
    font-family: var(--code-font);
}

.code {
    color: #fff;
}

body.light .code {
    color: #000;
}

.code {
    position: relative;
    height: calc(100%);
    overflow-x: auto;
    padding: 0.7vmin;
    scrollbar-width: thin;

    border-radius: var(--border-radius);
    border: 1px solid var(--border-accent-color);
}

.code > pre {
    margin: 0;
}

.code-wrap {
    position: relative;
}

.code-wrap > .language-label {
    position: absolute;
    top: 0.5vmin;
    right: 0.5vmin;
    opacity: 0.5;
    z-index: 100;
    font-size: 0.8rem;
}

code.inline-code {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: var(--border-radius);
    padding: 2px 4px;
    border-radius: 2px;
}

@media (prefers-color-scheme: light) {
    code.inline-code {
        background-color: #f8f9fa;
        border-color: var(--border-accent-color);
    }
}

#tooltip {
    display: block;
    visibility: hidden;
    pointer-events: none;

    position: fixed;
    /*top: 0;
    left: 0;*/
    z-index: 9999999;

    margin: 0;
    border: 1px solid var(--border-accent-color);
    padding: 2vmin;
    /*min-width: 10vmin;
    min-height: 10vmin;*/

    border-radius: var(--border-radius);
    background-color: var(--default-diagram-background-color);
    color: var(--default-diagram-text-color);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);

    opacity: 0.0;
    transition: ease-in-out opacity 150ms;
}

@media (prefers-color-scheme: light) {
    #tooltip {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
    }
}

@keyframes tooltip-fade-in {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes tooltip-fade-out {
    0% {
        visibility: visible;
        opacity: 1.0;
    }
    99.95% {
        visibility: visible;
        opacity: 0.0;
    }
    100% {
        visibility: hidden;
        opacity: 0.0;
    }
}

#tooltip.show {
    visibility: visible;
    animation: tooltip-fade-in 300ms ease-in-out 0s 1 forwards;
}

#tooltip.hide {
    animation: tooltip-fade-out 300ms ease-in-out 0s 1 forwards;
}

.button-effect {
    transition: ease-in-out transform 0.1s, ease-in-out box-shadow 0.2s;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.button-effect:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.button-effect:active {
    transform: translate(2px, 2px);
}

.sidebar-toggle {
    appearance: none;
    padding: 0;
    border: 0;
    background: none;
}

button.sidebar-toggle {
    appearance: none;
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 0.6rem;
    color: #fff;
    padding: 0 !important;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    display: flex;
    flex-direction: row;
    color: var(--foreground-color-primary);
    padding: 1vmin 3vmin;
    z-index: 500;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    margin-bottom: min(1vw, 2rem);

    border-bottom: 2px solid var(--color-3);
    
    text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.5);

    background: linear-gradient(
        270deg,
        var(--color-1),
        var(--color-2),
        var(--color-3),
        var(--color-4),
        var(--color-5));
}

#header-left {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--header-left-text-color);
}

#header-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: baseline;
    color: var(--header-left-text-color);
    white-space: nowrap;
}

.header-item {
    --header-item-size: 2.75rem;
    --header-item-padding: 0.35rem;

    display: block;
    padding: 0;
    margin: 0.5rem;
}

.header-item:last-of-type {
    margin-right: 1rem;
}

.header-item.square {
    width: var(--header-item-size);
    height: var(--header-item-size);
}

button.header-item.square > svg {
    width: calc(100% - (var(--header-item-padding) * 2));
    height: auto;
    padding: var(--header-item-padding);
}

a.header-item.square > svg {
    width: 100%;
    height: auto;
}

#page-title {
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

#page-title h1 {
    margin: 0;
    font-size: 1.4rem;
}

#page-title h2 {
    margin: 0;
    font-size: 1.05rem;
    font-weight: normal;
    font-style: italic;
}

#page-outer {
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;

    padding-bottom: 2rem;
}

#page-inner {
    display: flex;
    flex-direction: row;

    background: var(--background-color-primary);
    color: var(--text-color-secondary);
    box-shadow: 0 0 2vmin rgba(0, 0, 0, 0.25);
    border: 1px solid var(--page-border-color);
    border-radius: var(--border-radius);
}

#page-inner > nav:first-child {
    border-right: var(--sidebar-border-width) var(--border-accent-style) var(--page-border-color);
    background: linear-gradient(270deg, var(--sidebar-accent-color), transparent);
}

#page-inner > nav:last-child {
    border-left: var(--sidebar-border-width) var(--border-accent-style) var(--page-border-color);
    background: linear-gradient(90deg, var(--sidebar-accent-color), transparent);
}

nav#sidebar {
    flex: 1;
}

nav#sidebar > .toc-small {
    display: none; /* only used for tablet-sized and smaller */
    border-top: 1px solid var(--page-border-color);

    position: relative;
}

nav#sidebar select {
    width: 100%;
}

nav#sidebar > .menu-header:first-child {
    margin-top: 0;
    margin-bottom: min(1vw, 2rem);
    border-bottom: 2px solid var(--color-3);

    z-index: 500;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    color: var(--header-left-text-color);
    text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.5);

    background: linear-gradient(
        270deg,
        var(--color-1),
        var(--color-2),
        var(--color-3),
        var(--color-4),
        var(--color-5));    
}

.menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border-accent-color);
    padding: 1vmin 2.5vmin;

    margin: 0.25rem 0;
}

.menu-header > h1 {
    flex: 1;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

.menu-header > h2 {
    flex: 1;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

.menu-header > button {
    margin: 0;
    margin-right: 1vmin;
}

#toc-small-menu {
    overflow: auto;
}

nav#toc {
    flex: 1;
}

@media (prefers-color-scheme: light) {
    nav#toc {

    }
}

main {
    --main-padding: 3vmin;
    min-width: calc(70% - (var(--main-padding) * 2));
    max-width: calc(70% - (var(--main-padding) * 2));
    padding: calc(var(--main-padding) * 0.25) var(--main-padding) var(--main-padding) var(--main-padding);

    /* keeps this box shadow on top of others */
    position: relative;
    z-index: 250;
}

.menu {
    padding: 1vmin;
}

.menu ul {
    padding-left: 1.75vmin;
    font-size: 0.95rem;
    list-style-type: none;
}

.menu ul > li > a {
    display: block;
    margin: 0.6vmin 0;
    padding: 2px;
    transition: ease-in-out background-color 0.25s;
    background-color: transparent;
    color: var(--menu-link-color);
    text-decoration: none;
}

.menu ul > li > a:hover {
    background-color: var(--menu-highlight-background-color);
    color: var(--menu-highlight-text-color);
}

.menu > ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.menu .menu-item {
    border-left: 2px solid transparent;
    padding-left: 0.5rem;
}

.menu .menu-item.current {
    font-weight: bold;
    border-left: 2px solid var(--highlight-background-color);
    padding-left: 0.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    padding: 0.5rem 2rem;
}

#footer-a {
    flex: 1;

    display: flex;
    flex-direction: row;

    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px dotted var(--border-accent-color);
}

#footer-b {
    flex: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 20rem;
}

footer .footer-link {
    display: block;
    border: 1px solid var(--border-accent-color);
    margin: 0.3rem 0.6rem;
    padding: 0.4rem 0.8rem;
    border-radius: var(--border-radius);
    color: var(--menu-link-color);
    text-decoration: none;
    background-color: var(--background-color-primary);
    transition: ease-in-out background-color 0.25s;
}

footer .footer-link:hover {
    background-color: var(--menu-highlight-background-color);
}

.small-screen-only {
    display: none;
}

/* tweaks for smaller screens */
@media screen and (max-width: 1300px) {
    html {
        font-size: 15px;
    }

    #header {
        margin-bottom: 0;
    }
}

/* tablet-sized displays */
@media screen and (max-width: 1000px) {
    html {
        font-size: 15px;
    }

    nav#toc {
        display: none;
    }

    nav#sidebar > .toc-small {
        display: block;
    }

    main {
        min-width: calc(80% - (var(--main-padding) * 2));
        max-width: calc(80% - (var(--main-padding) * 2));
    }
}

/* phone-sized displays */
@media screen and (max-width: 700px) {
    html {
        font-size: 15px;
    }

    #body-mask.expand {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
    }    

    #header-right {
        display: none;
    }

    .menu-header.small-screen-only {
        display: flex;
    }

    .small-screen-only {
        display: block;
    }

    #page-inner {
        flex-direction: column;
    }

    nav#toc {
        display: none;
    }

    nav#sidebar {
        position: fixed;
        z-index: 99999;
        background: var(--background-color-primary) !important;

        --sidebar-width: max(40vw, 15rem);

        border-right-style: solid !important;

        top: 0;
        left: calc(var(--sidebar-width) * -1.2);
        bottom: 0;
        width: var(--sidebar-width);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        transition: ease-in-out left 0.3s;
        overflow-y: auto;
    }

    nav#sidebar.expand {
        left: 0;
    }

    nav#sidebar > .toc-small {
        display: block;
    }

    .menu ul > li > a {
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    main {
        min-width: calc(100% - (var(--main-padding) * 2));
        max-width: calc(100% - (var(--main-padding) * 2));
    }
}

/* railroad diagram styles */

.diagram-header > h1 {
    font-family: var(--code-font);
    font-size: 1.2rem;
}

.diagram-outer {
    background-color: var(--default-diagram-background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-accent-color);
}

svg.railroad-diagram text {
    /* fix mouse events for the rect element under the text elements */
    pointer-events: none;
}

svg.railroad-diagram g.start > text,
svg.railroad-diagram text.comment {
    fill: var(--default-diagram-text-color);
}

/* styles used when the user explicitly selects a light code color theme */
body.light .diagram-outer {
    background-color: #f8f9fa;
}
body.light svg.railroad-diagram g.start > text,
body.light svg.railroad-diagram text.comment {
    fill: black;
}

/* styles used when the user explicitly selects a dark code color theme */
body.dark .diagram-outer {
    background-color: #484f5e;
}
body.dark svg.railroad-diagram g.start > text,
body.dark svg.railroad-diagram text.comment {
    fill: white;
}

svg.railroad-diagram {
    background-color: transparent !important;
    margin: 0;
    padding: 0;
    width: 100%;
}

svg.railroad-diagram g.start > text,
svg.railroad-diagram text.comment {
    fill: white;
}

svg.railroad-diagram .MatchGroupRef rect {
    fill:hsl(200, 100%, 90%) !important;
}

svg.railroad-diagram .MatchGroupRef {
    cursor: pointer;
}

svg.railroad-diagram .Whitespace > rect {
    fill: #fff !important;
}
