<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/static/favicon.svg" />
<title>
{% block title %}
{{ main_title }} - {{ page_title }}
{% endblock %}
</title>
<link rel="stylesheet" type="text/css" href="static/jxdocgen.css" />
<link rel="stylesheet" type="text/css" href="static/generated_styles.css" />
<style>
{{ css }}
{% block style %}
{% endblock %}
</style>

{% block head %}
{% endblock %}

<script>
window.CODE_STYLES = [
{%- for style_name, (style_type, style_css) in code_styles.items() %}
    { name: '{{ style_name }}', type: '{{ style_type.name.lower() }}' },
{%- endfor %}
];
window.CODE_STYLE_INDEX = 0;

window.DEFAULT_DARK_STYLE = null;
window.DEFAULT_LIGHT_STYLE = null;
for (let style of window.CODE_STYLES) {
    if (window.DEFAULT_DARK_STYLE === null && style.type === 'dark') {
        window.DEFAULT_DARK_STYLE = style;
    } else if (window.DEFAULT_LIGHT_STYLE === null && style.type === 'light') {
        window.DEFAULT_LIGHT_STYLE = style;
    }

    if (window.DEFAULT_DARK_STYLE !== null && window.DEFAULT_LIGHT_STYLE !== null) {
        break;
    }
}

{% block script %}
{% endblock %}
</script>

<script src="static/jxdocgen.js"></script>
</head>
<body class="{{ body_class }}">

<dialog id="tooltip" class="" data-name=""></dialog>

{% macro code_color_theme_select(select_id) %}
    <select class="code-theme" id="{{ select_id }}">
        <optgroup label="Auto-detect">
            <option value="auto">Auto-detect</option>
        </optgroup>

        <optgroup label="Dark">
        {%- for style_name, (style_type, style_css) in code_styles.items() %}
        {% if style_type.name == 'Dark' %}
        <option value="{{ style_name }}">{{ style_name.removesuffix("-dark").removesuffix("-light") }} ({{ style_type.name }})</option>
        {% endif %}
        {% endfor -%}
        </optgroup>

        <optgroup label="Light">
        {%- for style_name, (style_type, style_css) in code_styles.items() %}
        {% if style_type.name == 'Light' %}
        <option value="{{ style_name }}">{{ style_name.removesuffix("-dark").removesuffix("-light") }} ({{ style_type.name }})</option>
        {% endif %}
        {% endfor -%}
        </optgroup>
    </select>
{% endmacro %}

<div id="body-mask" class="small-screen-only"></div>

<header id="header">
    <div id="header-left">
        <button title="Show Menu" class="header-item square button-effect sidebar-toggle small-screen-only">{{ hamburger_svg }}</button>
        <a href="/" class="header-item square">{{ logo_svg }}</a>
        <div id="page-title" class="header-item">
            <h1>{{ main_title }}</h1>
            <h2>{{ page_title }}</h2>    
        </div>
    </div>
    <div id="header-right">
        {% block toolbar %}
        {% endblock %}
        <label for="code-style-select">Code Style:&nbsp;</label>
        {{ code_color_theme_select("code-style-select") }}
    </div>
</header>

<div id="page-outer">
    <div id="page-inner">
        <nav id="sidebar">
            <div class="menu-header small-screen-only">
                <h1>Menu</h1>
                <button class="sidebar-toggle button-effect">&times;</button>
            </div>

            <div class="menu">
                <ul>
                    {% for href, title in menu %}
                        <li><a href="{{ href }}" class="menu-item {{ 'current' if title == page_title else '' }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="menu-header small-screen-only">
                <h1>Code Style</h1>
            </div>

            <div class="menu small-screen-only">
                {{ code_color_theme_select("code-style-select-sidebar") }}
            </div>

            {% block nav %}
            <h1>Section 1</h1>
            <div class="menu">
                <ul>
                    <li>Menu Item 1</li>
                    <li>Menu Item 2</li>
                    <li>Menu Item 3</li>
                    <li>Menu Item 4</li>
                </ul>
            </div>
            <h1>Section 2</h1>
            <div class="menu">
                <ul>
                    <li>Menu Item 1</li>
                    <li>Menu Item 2</li>
                    <li>Menu Item 3</li>
                    <li>Menu Item 4</li>
                </ul>
            </div>
            {% endblock %}

            <div class="toc-small">
                <div class="menu-header">
                    <h1>Page Outline</h1>
                </div>
                <div id="toc-small-menu">
                    {# repeat the toc here so it can be rendered on the left side on smaller screens #}
                    {{ self.toc() }}
                </div>
            </div>
        </nav>

        <main>
            {% block main %}
            <article>
                <h1>Article Title 1</h1>
                <p>This is a paragraph.</p>
            </article>

            <article>
                <h1>Article Title 2</h1>
                <p>This is a paragraph.</p>
            </article>

            <article>
                <h1>Article Title 3</h1>
                <p>This is a paragraph.</p>
            </article>
            {% endblock %}
        </main>

        <nav id="toc">
            <div class="menu-header">
                <h1>Page Outline</h1>
            </div>
            {% block toc %}
            {% endblock %}
        </nav>
    </div>

    <footer>
        <div id="footer-a">
        {% block footer_a %}
            {% for link in footer_links %}
                <a href="{{ link.get('href', '') }}" class="footer-link {{ link.get('css_class', '') }}">{{ link.get('label', 'Link') }}</a>
            {% endfor %}
        {% endblock %}
        </div>
    
        <div id="footer-b">
        {% block footer_b %}
            {% if copyright %}
                <div class="copyright">{{ copyright }}</div>
            {% endif %}
        {% endblock %}
        </div>
    </footer>    
</div>

</body>
</html>