<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
    {% block title %}
    {{ main_title }} - {{ page_title }}
    {% endblock %}
</title>
<link rel="stylesheet" type="text/css" href="static/jxc.css" />
<style>
{% for style_name, (style_type, style_css) in code_styles.items() %}
/* BEGIN {{ style_name }} ({{ style_type }}) */
{%- for line in style_css.split('\n') -%}
{%- if not line.startswith(".code") %}
.code.{{ style_name }} {{ line.rstrip() }}
{%- else -%}
{{ line.rstrip() }}
{% endif -%}
{%- endfor %}
/* END {{ style_name }} ({{ style_type }}) */
{% endfor %}

{% for style_name, (style_type, style_css) in code_styles.items() %}
.code.{{ style_name }} pre {
    line-height: 150%;
}
{% endfor %}

{{ diagram_styles }}

{{ css }}

{% block style %}
{% endblock %}
</style>

{% block head %}
{% endblock %}

<script>
window.CODE_STYLES = [
{%- for style_name, (style_type, style_css) in code_styles.items() %}
    { name: '{{ style_name }}', type: '{{ style_type }}' },
{%- endfor %}
];
window.CODE_STYLE_INDEX = 0;    
{% block script %}
{% endblock %}
</script>

<script src="static/jxc.js"></script>
</head>
<body>

<nav id="toolbar">
    <div id="toolbar-left">
        <h1>{{ main_title }}</h1>
        <h2>{{ page_title }}</h2>
    </div>
    <div id="toolbar-middle">

    </div>
    <div id="toolbar-right">
        {% block toolbar %}
        {% endblock %}
        <button id="code-style-switcher">Code Style</div>
    </div>
</nav>

<div id="page-outer">
    <div id="page-inner">
        <nav id="sidebar">
            <div class="menu">
                <ul>
                    {% for page_path, page_title in menu %}
                        <li><a href="{{ page_path }}" class="menu-item">{{ page_title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            {% block nav %}
            <h1>Section 1</h1>
            <div class="menu">
                <ul>
                    <li>Menu Item 1</li>
                    <li>Menu Item 2</li>
                    <li>Menu Item 3</li>
                    <li>Menu Item 4</li>
                </ul>
            </div>
            <h1>Section 2</h1>
            <div class="menu">
                <ul>
                    <li>Menu Item 1</li>
                    <li>Menu Item 2</li>
                    <li>Menu Item 3</li>
                    <li>Menu Item 4</li>
                </ul>
            </div>
            {% endblock %}
        </nav>

        <main>
            {% block main %}
            <article>
                <h1>Article Title 1</h1>
                <p>This is a paragraph.</p>
            </article>

            <article>
                <h1>Article Title 2</h1>
                <p>This is a paragraph.</p>
            </article>

            <article>
                <h1>Article Title 3</h1>
                <p>This is a paragraph.</p>
            </article>
            {% endblock %}
        </main>
    </div>
</div>

</body>
</html>