{% extends "base.html" %}
{% block style %}
{% endblock %}

{% block head %}
{% endblock %}

{% block script %}
{% endblock %}

{% block nav %}
    <div class="menu diagram-links">
        <h1>Diagrams</h1>
        <ul>
        {% for name, diag in diagrams %}
            <li>
                <a href="#{{ name }}" onclick="onClickDiagramInSidebar('{{ name }}')">{{ name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block main %}
<article>
{% for name, diag_svg in diagrams %}
    <div id="diagram-{{ name }}" data-diagram-name="{{ name }}" class="diagram">
        <div class="diagram-header">
            <a name="{{ name }}" class="anchor"></a>
            <h1>{{ name }}</h1>
        </div>
        {{ diag_svg }}
    </div>
{% endfor %}
</article>
{% endblock %}
